.cart_container{
    max-height: 550px;
    max-width: 390px;
    background: #f8f8f8fb;
    backdrop-filter: blur(10px);
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 20px;
    border-radius: 15px;
    text-align: center;
}



.cart_container img{
    max-width: 380px;
    max-height: 350px;
    border-radius: 15px 15px 0 0 ;
}