.comment-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 2vw;
}

@media (max-width: 900px){
    .comment-container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px){
    .comment-container{
        grid-template-columns: repeat(1, 1fr);
    }
}